<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\SSL\Development\Open Source\Mine\Home Page\gh-pages</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/SLaks-Home.dll">
      <publishTime>06/12/2012 10:11:02</publishTime>
    </File>
    <File Include="CSS/Styles.css">
      <publishTime>06/12/2012 09:51:02</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>06/11/2012 13:30:57</publishTime>
    </File>
    <File Include="Images/Background.jpg">
      <publishTime>06/11/2012 22:44:07</publishTime>
    </File>
    <File Include="Images/Sources/Blog.png">
      <publishTime>06/11/2012 23:13:15</publishTime>
    </File>
    <File Include="Images/Sources/GitHub.png">
      <publishTime>06/11/2012 22:44:22</publishTime>
    </File>
    <File Include="Images/Sources/LinkedIn.png">
      <publishTime>06/11/2012 23:03:24</publishTime>
    </File>
    <File Include="Images/Sources/Me.png">
      <publishTime>06/12/2012 08:14:22</publishTime>
    </File>
    <File Include="Images/Sources/MVP.png">
      <publishTime>06/11/2012 22:44:23</publishTime>
    </File>
    <File Include="Images/Sources/MVP2.png">
      <publishTime>06/11/2012 22:44:13</publishTime>
    </File>
    <File Include="Images/Sources/SO-Careers.png">
      <publishTime>06/11/2012 22:44:06</publishTime>
    </File>
    <File Include="Images/Sources/StackOverflow.png">
      <publishTime>06/11/2012 22:44:23</publishTime>
    </File>
    <File Include="Images/Sources/Twitter.png">
      <publishTime>06/11/2012 22:44:22</publishTime>
    </File>
    <File Include="index.html">
      <publishTime>06/12/2012 09:58:29</publishTime>
    </File>
  </ItemGroup>
</Project>